/* Your CSS Code here. */
/* .navbar{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #333;
 
} */
/* 
.navbar a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */

.navbar a:hover{
    color: red;
}

h1{
    padding-top: 200px;
}

